<div class="charts">
    <div class="chart">
        <!-- un circulo inicial de fondo -->
        <div class="circle center-abs"></div>
        <!-- area para SVG -->
        <svg class="center-abs" width="150" height="150">
            <!-- un segundo circulo en SVG con su ubicacion en coordenadas x,y y el radio de expansion -->
            <circle class="outer" cx="75" cy="75" r="70" />
        </svg>
        <!-- etiqueta para el contador, en este caso el dia -->
        <span class="text center-abs" id="days"></span>
        <h3>Days</h3>
    </div>
    <div class="chart">
        <div class="circle center-abs"></div>
        <svg class="center-abs" width="150" height="150">
            <circle class="outer" cx="75" cy="75" r="70" />
        </svg>
        <span class="text center-abs" id="hours"></span>
        <h3>Hours</h3>
    </div>
    <div class="chart">
        <div class="circle center-abs"></div>
        <svg class="center-abs" width="150" height="150">
            <circle class="outer" cx="75" cy="75" r="70" />
        </svg>
        <span class="text center-abs" id="minutes"></span>
        <h3>Minutes</h3>
    </div>
    <div class="chart">
        <div class="circle center-abs"></div>
        <svg class="center-abs" width="150" height="150">
            <circle class="outer" cx="75" cy="75" r="70" />
        </svg>
        <span class="text center-abs" id="seconds"></span>
        <h3>Seconds</h3>
    </div>
</div>