.mediaViewInfo {
  --web-view-name: capa-de-reduccion;
  --web-view-id: capa-de-reduccion;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}


:root {
  --web-view-ids: capa-de-reduccion;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#capa-de-reduccion {
  width: 267px;
  height: 267px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  --web-view-name: capa-de-reduccion;
  --web-view-id: capa-de-reduccion;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}

#Group_1 {
  mix-blend-mode: normal;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Group_2 {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Intersection_2 {
  fill: #cfad42;
}
.Intersection_2 {
  overflow: visible;
  position: absolute;
  width: 268px;
  height: 268px;
  left: 2.826px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Intersection_1 {
  fill: rgb(214 77 12);
}
.Intersection_1 {
  overflow: visible;
  position: absolute;
  width: 268px;
  height: 268px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#text_ahorro {
    left: 0px;
    top: 125px;
    position: absolute;
    overflow: visible;
    width: 256px;
    white-space: nowrap;
    text-align: right;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: white;
}
#text_Disponible {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 256px;
    white-space: nowrap;
    text-align: right;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: white;
}
button.calendar,
button.calendar:active {
  width: 2.75rem;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

