<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body all-icons">
          <div *ngIf="companies">
            <dx-select-box [dataSource]="companies" valueExpr="package.user.username" displayExpr="
              package.user.username" [searchEnabled]="true" [searchExpr]="['package.user.username']">
            </dx-select-box>
            <!-- <dx-list #list [dataSource]="companies" [height]="400" [searchEnabled]="true" -->
            <!-- searchExpr="package.user.username" searchMode="contains"> -->
            <!-- </dx-list> -->
          </div>
        </div>

        <div *ngIf="companies">
          <dx-accordion #accordion [dataSource]="companies" [collapsible]="false" [multiple]="false"
            [animationDuration]="300" [selectedItems]="[companies[0]]">
            <div *dxTemplate="let company of 'title'">
              <h4>{{ company?.wallet }} - PACK {{company.package?.ID}} - ${{company.package?.Price | currency:
                " ":"symbol":"1.00":"it" }} </h4>

            </div>
            <div *dxTemplate="let company of 'item'">
              <dx-data-grid id="gridContainer" [dataSource]="[company]" keyExpr="_id" [showBorders]="true">
                <dxi-column caption="User" cellTemplate="cellTemplate01">
                  <div *dxTemplate="let info of 'cellTemplate01'">
                    {{company.package.user?.username}} <i
                      [class]="'flag-icon flag-icon-'+company.package.user.country?.iso2.toLocaleLowerCase()"></i>
                  </div>
                </dxi-column>
                <dxi-column caption="Referred Type" [(visible)]="!!company.typeSponsor" cellTemplate="cellTemplate">
                  <div *dxTemplate="let info of 'cellTemplate'">
                    {{company.typeSponsor}}
                  </div>
                </dxi-column>
                <dxi-column caption="Commission Value" [(visible)]="!!company.iivComision"
                  cellTemplate="cellTemplate02">
                  <div *dxTemplate="let info of 'cellTemplate02'">
                    ${{company.iivComision | currency:
                    " ":"symbol":"1.00": "it"}} yaz
                  </div>
                </dxi-column>
                <dxi-column caption="Initial Payment" [(visible)]="!!company.iiCinicial" cellTemplate="cellTemplate03">
                  <div *dxTemplate="let info of 'cellTemplate03'">
                    ${{company.iiCinicial | currency:
                    " ":"symbol":"1.00": "it"}} yaz
                  </div>
                </dxi-column>
                <dxi-column caption="Diluted" [(visible)]="!!company.iiDiluida" cellTemplate="cellTemplate04">
                  <div *dxTemplate="let info of 'cellTemplate04'">
                    ${{company.iiDiluida | currency:
                    " ":"symbol":"1.00": "it"}} yaz
                  </div>
                </dxi-column>
                <dxi-column caption="My NFT's" [(visible)]="!!company.typeSponsor" cellTemplate="cellTemplate05">
                  <div *dxTemplate="let info of 'cellTemplate05'">
                    ${{company.iiCinicial | currency:
                    " ":"symbol":"1.00": "it"}} yaz
                  </div>
                </dxi-column>



              </dx-data-grid>
              <br>
              <br>
              <br>

              <div *ngIf="!!company.bookDaily">
                <dx-data-grid id="gridContainer" [dataSource]="company.bookDaily" keyExpr="_id" [showBorders]="true">
                  <dxi-column caption="Dia" cellTemplate="cellTemplate">
                    <div *dxTemplate="let info of 'cellTemplate'">
                      {{info.row.data.transaction?.createdAt | date :'dd/MMM/yyyy'}}
                    </div>
                  </dxi-column>
                  <dxi-column caption="debito" cellTemplate="item">
                    <div *dxTemplate="let item of 'item'">
                      ${{item.row.data.transaction?.debito | currency:
                      " ":"symbol":"1.00": "it"}} yaz
                    </div>

                  </dxi-column>
                  <dxi-column caption="Detail" cellTemplate="detail">
                    <div *dxTemplate="let item of 'detail'">
                      {{item.row.data?.Observacion }}
                    </div>
                  </dxi-column>

                  <!-- <div *dxTemplate="let data of 'PatroTemplate'">
                    {{data.transaction?.debito | currency:
                    "USD":"symbol":"1.00"}}
                  </div> -->
                </dx-data-grid>
              </div>
            </div>
          </dx-accordion>



        </div>
        <div *ngIf="!companies">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>