<div class="panel-header panel-header-lg">
  <dx-chart id="chartOs"  palette="violet" [dataSource]="architecturesInfo">
    <dxi-series valueField="pack1" name="pack1"></dxi-series>
    <dxi-series valueField="pack2" name="pack2"></dxi-series>
    <dxi-series valueField="pack3" name="pack3"></dxi-series>
    <dxi-series valueField="pack4" name="pack4"></dxi-series>
    <dxo-common-series-settings #seriesSettings argumentField="mes" [type]="types[0]">
    </dxo-common-series-settings>
    <dxo-margin [bottom]="20"></dxo-margin>
    <dxo-common-axis-settings>
      <dxo-grid [visible]="false"></dxo-grid>
    </dxo-common-axis-settings>
    <dxo-legend verticalAlignment="top" horizontalAlignment="right">
    </dxo-legend>
    <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
      <dxo-label>
        <dxo-format type="decimal"></dxo-format>
      </dxo-label>
    </dxo-argument-axis>
    <dxo-export [enabled]="false"></dxo-export>
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
  </dx-chart>
</div>

<div class="main-content">
  <div class="row">

    <div class="col-lg-4 col-md-6" *ngFor="let country of countries">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Global Sales</h5>
          <h4 class="card-title">Shipped Products</h4>
          <div ngbDropdown>
            <button type="button" class="btn btn-round btn-default dropdown-toggle btn-simple btn-icon no-caret"
              ngbDropdownToggle>
              <i class="now-ui-icons loader_gear"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-area pies-container">
            <dx-pie-chart class="pie" sizeGroup="piesGroup" [dataSource]="service.getData(country)" [animation]="false"
              resolveLabelOverlapping="shift" type="doughnut" centerTemplate="centerTemplate" [innerRadius]="0.65">
              <dxi-series argumentField="commodity" valueField="total">
                <dxo-label backgroundColor="none" [visible]="true" format="fixedPoint" [customizeText]="customizeLabel">
                  <dxo-connector [visible]="true"></dxo-connector>
                </dxo-label>
              </dxi-series>
              <dxo-legend [visible]="false"> </dxo-legend>
              <svg *dxTemplate="let pieChart of 'centerTemplate'">
                <circle cx="100" cy="100" [attr.r]="pieChart.getInnerRadius() - 6" fill="#eee"></circle>
                <text x="64" y="84" width="60" style="font-size: 14px" height="40"> {{getTOtal()}} USDT</text>
                <text text-anchor="middle" style="font-size: 18px" x="100" y="120" fill="#494949">
                  <tspan x="100">{{ country }}</tspan>
                  <!-- display: inline -->
                  <tspan x="100" dy="20px" style="font-weight: 600">{{
                    calculateTotal(pieChart)
                    }}</tspan>
                </text>
              </svg>
            </dx-pie-chart>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Email Statistics</h5>
          <h4 class="card-title">24 Hours Performance</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <!-- <canvas baseChart id="barChartSimpleGradientsNumbers" [datasets]="lineChartGradientsNumbersData"
              [labels]="lineChartGradientsNumbersLabels" [colors]="lineChartGradientsNumbersColors"
              [options]="lineChartGradientsNumbersOptions" [chartType]="lineChartGradientsNumbersType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas> -->
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="card-header ">
          <h5 class="card-category">desarrollador de backend</h5>
          <h4 class="card-title">Tarrear</h4>
        </div>
        <div class="card-body ">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Sign contract for "What are conference organizers afraid of?"</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </td>
                  <td class="text-left">Flooded: One year later, assessing what was lost and what was found when a
                    ravaging rain swept through metro Detroit
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                      <i class="now-ui-icons ui-2_settings-90"></i>
                    </button>
                    <button type="button" rel="tooltip" title=""
                      class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-category">All Persons List</h5>
          <h4 class="card-title"> Employees Stats</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-right">
                  Salary
                </th>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Niger
                  </td>
                  <td>
                    Oud-Turnhout
                  </td>
                  <td class="text-right">
                    $36,738
                  </td>
                </tr>
                <tr>
                  <td>
                    Minerva Hooper
                  </td>
                  <td>
                    Curaçao
                  </td>
                  <td>
                    Sinaai-Waas
                  </td>
                  <td class="text-right">
                    $23,789
                  </td>
                </tr>
                <tr>
                  <td>
                    Sage Rodriguez
                  </td>
                  <td>
                    Netherlands
                  </td>
                  <td>
                    Baileux
                  </td>
                  <td class="text-right">
                    $56,142
                  </td>
                </tr>
                <tr>
                  <td>
                    Doris Greene
                  </td>
                  <td>
                    Malawi
                  </td>
                  <td>
                    Feldkirchen in Kärnten
                  </td>
                  <td class="text-right">
                    $63,542
                  </td>
                </tr>
                <tr>
                  <td>
                    Mason Porter
                  </td>
                  <td>
                    Chile
                  </td>
                  <td>
                    Gloucester
                  </td>
                  <td class="text-right">
                    $78,615
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>