<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="diagramViction">
          <dx-diagram id="diagram" customShapeTemplate="customShapeTemplate" autoZoomMode="fitWidth" [simpleView]="true"
            [readOnly]="true">
            <dxi-custom-shape *ngFor="let emp of employees" [type]="'user' + emp._id" baseType="rectangle"
              [defaultWidth]="1.5" [defaultHeight]="1" [allowEditText]="false" [allowResize]="false">
            </dxi-custom-shape>
            <svg *dxTemplate="let item of 'customShapeTemplate'" class="template">
              <text class="template-name" x="50%" y="20%">
                {{ item.dataItem.username }}
              </text>
              <text class="template-title" x="50%" y="45%">
                {{item.dataItem.country.name}}
              </text>
              <foreignObject x="81%" y="30%" width="30" height="24">
                <i [class]="'template-title flag-icon flag-icon-'+item.dataItem.country?.iso2.toLocaleLowerCase()"
                  xmlns="http://www.w3.org/1999/xhtml">
                </i>
              </foreignObject>

              <foreignObject x="90%" y="5%" width="30" height="24">
                <div [ngClass]="item.dataItem.userVentas.length===0?'txdanger':'txsuccess'" id="circulo"></div>
              </foreignObject>
              <foreignObject x="32%" y="64%" width="65" height="36">
                <button (click)="showInfo(item.dataItem)" class="btn btn-primary btn-ms p-1">Show Detail</button>
              </foreignObject>
            </svg>
            <dxo-nodes [dataSource]="dataSource" keyExpr="_id" [typeExpr]="itemTypeExpr" parentKeyExpr="patrocinador">
              <dxo-auto-layout type="tree"></dxo-auto-layout>
            </dxo-nodes>
          </dx-diagram>
          <dx-popup [width]="300" [height]="280" [showTitle]="true" title="Information" [dragEnabled]="false"
            [closeOnOutsideClick]="true" [(visible)]="popupVisible">
            <div *dxTemplate="let data of 'content'">
              <p>Full Name: <b>{{ currentEmployee.nombre }} {{currentEmployee.apellidos}}</b></p>
              <p>Country: <b>{{ currentEmployee.country.name }} <i
                    [class]="'flag-icon flag-icon-'+currentEmployee.country?.iso2.toLocaleLowerCase()"></i>
                </b></p>
              <p>Username: <b>{{ currentEmployee.username }}</b></p>
              <p>Email: <b>{{ currentEmployee.email }}</b></p>
              <p>Phone: <b> + {{currentEmployee.country.phone_code}} {{ currentEmployee.celular }}</b></p>
              <p>Id: <b> <button type="button" (click)="getLink(currentEmployee._id)"
                    class="btn btn-link btn-ms p-2 m-0">Link</button></b></p>
            </div>
          </dx-popup>

        </div>
      </div>

    </div>

  </div>
</div>