/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/now-ui-dashboard.scss";
@import "./assets/scss/yafuz.scss";
@import "~ngx-toastr/toastr.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "./assets/demo.css";
@import "~devexpress-diagram/dist/dx-diagram.min.css";
@import "~devextreme/dist/css/dx.carmine.compact.css";
#circulo{
   height:8px;
   width:8px;
   -moz-border-radius:50px;
   -webkit-border-radius:50px;
   border-radius:50px;
}
.txdanger {
  background: rgb(230 16 16);
}
.txsuccess {
  background: rgb(72, 245, 49);
}