
.nopaddingtop {
    padding-top: 0 !important;
    font-size: 19px;
}
.product-form-price {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}
.osd-text {
    text-align: center;
    font-size: 22px;
}
.usdtPrice {
    text-align: right;
    font-size: 13px;
}
.form-control-savings{
    font-size: 15px;
}
::ng-deep .dx-cell-focus-disabled {
    text-align: center !important;
}
.header { background: #f39e6c }
.content { background: #f5e5a6 }
.left-side-bar { background: #94d7c7 }
.right-side-bar { background: #77c7e7 }
.footer { background: #7b9bcf }
.page { height: 100%; }